<h1><%= title %></h1>
<h2>Welcome <%= title %></h2>

<h3>Form User</h3>
<form action="/" method="POST" class="">
 <div class="">
   <label>Name</label>
   <input required type="text" name="name" placeholder="username"/>
 </div>
 <div class="">
   <label>Email</label>
   <input required type="email" name="email" placeholder="email..."/>
 </div>
 <div class="">
   <label>Senha</label>
   <input required type="password" name="password" placeholder="******"/>
 </div>
 <div class="">
   <button type="submit">Sing up</button>
 </div>
</form>
