<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
   <header>
	   <li><a href="/">home</a></li>
	   <li><a href="/blog">blog</a></li>
	   <li><a href="/contact">contact</a></li>
   </header>
   <main>
     <div class="container">
      <%- body %>
     </div>
   </main>

</body>
</html>  
